Repository kunalkumar015/P4AG_EGOS: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

pipelines/pipeline-wwe-egos-infrastructure.yml:
  stages:
  - template: ./templates/deployEnv-wwe-egos.yaml
    parameters:
      stage_name: DEV_Deploy_WWE_EGOS
      depends_on: []
      environment_name: WWE_EGOS_DEV
      AzureServiceConnection: sc-ups-dev
      AzureRegion: eastus2
      SubscriptionId: b09bcb9d-e055-4950-a9dd-2ab6002ef86c
  ...

pipelines/pipeline-wwe-ga-infrastructure.yml:
  stages:
  - stage: CleanupLock
    jobs:
    - job: RemoveGitLock
      steps:
      - task: CmdLine@2
        displayName: Remove stale Git Config lock
        inputs:
          script: 'echo Removing stale .gitconfig.lock if it exists
  
            del C:\Windows\ServiceProfiles\NetworkService\.gitconfig.lock 2>nul
  ...

pipelines/pipeline-wwe-shared-infra.yml:
  stages:
  - template: ./templates/deployEnv-wwe-shared.yaml
    parameters:
      stage_name: DEV_Deploy_WWE_SHARED
      depends_on: []
      environment_name: WWE_SHARED_DEV
      AzureServiceConnection: sc-ups-dev
      AzureRegion: eastus2
      SubscriptionId: b09bcb9d-e055-4950-a9dd-2ab6002ef86c
  ...

pipelines/pipeline-wwe-shared-infrastructure.yml:
  stages:
  - template: ./templates/deployEnv-wwe-shared.yaml
    parameters:
      stage_name: DEV_Deploy_WWE_SHARED
      depends_on: []
      environment_name: WWE_SHARED_DEV
      AzureServiceConnection: sc-ups-dev
      AzureRegion: eastus2
      SubscriptionId: b09bcb9d-e055-4950-a9dd-2ab6002ef86c
  ...

correcting snet-agw name
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

depends on block for agw
  iac/modules/agw/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

referencing agw resource
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
  iac/wwe-egos/virtual_network.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

referencing correct vnet name
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

referencing correct vnet name
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

redeployment
  iac/modules/afd/secrets.tf
  iac/modules/agw/agw.tf
  iac/modules/app-services/_variables.tf
  iac/modules/app-services/app-service.tf
  iac/modules/app-services/main.tf
  iac/modules/cosmosdb/database.tf
  iac/modules/cosmosdb/main.tf
  iac/modules/keyvault/kv.tf
  iac/modules/keyvault/main.tf
  iac/modules/sql/_variables.tf
  iac/modules/sql/database.tf
  iac/modules/sql/main.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/afd.tf
  iac/wwe-egos/azurerm_windows_web_app.tf
  iac/wwe-egos/sql_database.tf
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

add missing variable
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

changing vnet range
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

commenting out error configs
  iac/wwe-egos/keyvault.tf
  iac/wwe-egos/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

commenting out error configs
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

adjusting ip range
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

commenting out afd
  iac/modules/afd/secrets.tf
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

commenting out afd
  iac/modules/app-services/main.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

add rg name to tracking app service
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

remove location from rg data block
  iac/modules/agw/main.tf
  iac/modules/agw/variables.tf
  iac/modules/app-services/app-service.tf
  iac/modules/app-services/main.tf
  iac/modules/keyvault/kv.tf
  iac/modules/sql/main.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/agw.tf
  iac/wwe-egos/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

including sku name for kv
  iac/modules/agw/main.tf
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

importing resource
  iac/modules/agw/main.tf
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

removing dublicate data block
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

removing undeclared resource
  iac/modules/agw/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

adding depends on
  iac/modules/agw/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

new ips for vnet
  iac/modules/afd/origin.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/afd.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/mi_user.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

remove depends on block
  iac/modules/agw/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

add webapps ip
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

depends on block for subnet
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fixing errors
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

remove agw error
  iac/modules/app-services/main.tf
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

add webapp subnet for agw
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

fixing errors
  iac/wwe-egos/afd.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

commenting out nat gw, agw, afd
  iac/wwe-egos/azurerm_nat_gateway.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

consolidate webapp and pe subnets
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

consolidate webapp and pe subnets to shared subnet
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

consolidate webapp and pe subnets to shared subnet
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

consolidate webapp and pe subnets to shared subnet
  iac/modules/app-services/main.tf
  iac/wwe-egos/azurerm_windows_web_app.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

consolidate webapp and pe subnets to shared subnet
  iac/wwe-egos/cosmosdb.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

remove data block in appservice module
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

fix agw_subnet
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fix agw_subnet
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

deploying ga shared subnet change
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/azurerm_nat_gateway.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

Path conditions:
  pipelines/pipeline-wwe-egos-infrastructure.yml: any of: iac/wwe-egos, iac/modules, but not: iac/wwe-ga, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-ga-infrastructure.yml: any of: iac/wwe-ga, iac/modules, but not: iac/wwe-egos, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-shared-infra.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr
  pipelines/pipeline-wwe-shared-infrastructure.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr
