Repository kunalkumar015/P4AG_EGOS: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

Path conditions:
  pipelines/pipeline-wwe-egos-infrastructure.yml: any of: iac/wwe-egos, iac/modules, but not: iac/wwe-ga, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-ga-infrastructure.yml: any of: iac/wwe-ga, iac/modules, but not: iac/wwe-egos, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-shared-infra.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr
  pipelines/pipeline-wwe-shared-infrastructure.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr

adding cosmos db resource
  iac/modules/cosmosdb/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

deploying sql
  iac/modules/sql/main.tf
  iac/wwe-egos/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

change sql password
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/cosmosdb.tf
  iac/wwe-egos/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

schanging sql subnet
  iac/wwe-egos/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

changing app sku to basic
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

Changing web apps from premium to basic and removing deployment slots
  iac/modules/app-services/app-service.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/azurerm_windows_web_app.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

Changing web apps from premium to basic and removing deployment slots
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

waf configs
  iac/modules/cosmosdb/database.tf
  iac/modules/waf/variables.tf
  iac/modules/waf/waf.tf
  iac/wwe-egos/agw.tf
  iac/wwe-egos/private_endpoints.tf
  iac/wwe-egos/waf.tf
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

waf configs
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

adding subnet for ga sql
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

adding subnet for ga sql
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

adding GA and FTS sql
  iac/modules/sql _fts/_variables.tf
  iac/modules/sql _fts/database.tf
  iac/modules/sql _fts/main.tf
  iac/wwe-egos/sql_database_fts.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

remove duplicate variable
  iac/wwe-ga/_variables.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

ga sql
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/sql_database.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

adding pe for sqlfts
  iac/modules/sql_fts/_variables.tf
  iac/modules/sql_fts/database.tf
  iac/modules/sql_fts/main.tf
  iac/wwe-egos/sql_database_fts.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

adding pe subnet for cosmos
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

removing excess db servers
  iac/modules/sql_fts/_variables.tf
  iac/modules/sql_fts/database.tf
  iac/modules/sql_fts/main.tf
  iac/wwe-egos/sql_database.tf
  iac/wwe-egos/sql_database_fts.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

removing excess db servers
  iac/modules/sql_fts/_variables.tf
  iac/modules/sql_fts/database.tf
  iac/modules/sql_fts/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

rerouting subnet for cosmos pe
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

deleting excess db server and creating pe exposure
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/modules/sql/_variables.tf
  iac/modules/sql/database.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
  iac/wwe-egos/sql_database.tf
  iac/wwe-egos/sql_database_fts.tf
  iac/wwe-egos/virtual_network.tf
  iac/wwe-ga/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

cosmos subnet id change
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/sql_database.tf
  iac/wwe-ga/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

deploying agw
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/modules/sql_fts/_variables.tf
  iac/modules/sql_fts/database.tf
  iac/modules/sql_fts/main.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/sql_database_fts.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

renaming variables for agw
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/virtual_network.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

removing unnecessary variables
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

removing ga- addinfo/ga-shop app services
  iac/modules/cosmosdb/database.tf
  iac/modules/keyvault/_variables.tf
  iac/modules/keyvault/kv.tf
  iac/modules/storage_account/_variables.tf
  iac/modules/storage_account/private_endpoint.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

adding variables for sa and kv pe connection
  iac/wwe-egos/keyvault.tf
  iac/wwe-egos/storage_accounts.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

adding correct subresource for sa and kv
  iac/modules/keyvault/kv.tf
  iac/modules/storage_account/private_endpoint.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

adding correct subresource for sa and kv
  iac/modules/keyvault/kv.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

creating agw for ga
  iac/wwe-ga/agw.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

creating 2 agw for ga
  iac/wwe-ga/agw.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

creating secret/cert for afd
  iac/modules/afd/secrets.tf
  iac/wwe-egos/afd.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

changing cosmos to mongo
  iac/modules/cosmosdb/database.tf
  iac/modules/cosmosdb/main.tf
  iac/modules/waf/main.tf
  iac/modules/waf/variables.tf
  iac/modules/waf/waf.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/afd.tf
  iac/wwe-egos/waf.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

changing cosmosdb to Mongodb
  iac/modules/waf/waf.tf
  iac/wwe-ga/_local.tf
  iac/wwe-ga/waf.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

changing mongo version to 7.0
  iac/modules/cosmosdb/database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

changing mongo version to latest
  iac/modules/cosmosdb/database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

agw pip depend on block
  iac/modules/agw/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

web app ga-prince-pdf2 creation
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

add uat pipeline yml
  pipelines/pipeline-wwe-uat-infrastructure.yml
  pipelines/templates/deployEnv-wwe-uat.yaml
Due: none

Update pipeline-wwe-uat-infrastructure.yml for Azure Pipelines
  pipelines/pipeline-wwe-uat-infrastructure.yml
Due: none
