Repository kunalkumar015/P4AG_EGOS: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

pipelines/pipeline-wwe-egos-infrastructure.yml:
  stages:
  - template: ./templates/deployEnv-wwe-egos.yaml
    parameters:
      stage_name: DEV_Deploy_WWE_EGOS
      depends_on: []
      environment_name: WWE_EGOS_DEV
      AzureServiceConnection: sc-ups-dev
      AzureRegion: eastus2
      SubscriptionId: b09bcb9d-e055-4950-a9dd-2ab6002ef86c
  ...

pipelines/pipeline-wwe-ga-infrastructure.yml:
  stages:
  - stage: CleanupLock
    jobs:
    - job: RemoveGitLock
      steps:
      - task: CmdLine@2
        displayName: Remove stale Git Config lock
        inputs:
          script: 'echo Removing stale .gitconfig.lock if it exists
  
            del C:\Windows\ServiceProfiles\NetworkService\.gitconfig.lock 2>nul
  ...

pipelines/pipeline-wwe-shared-infrastructure.yml:
  stages:
  - template: ./templates/deployEnv-wwe-shared.yaml
    parameters:
      stage_name: prod_Deploy_WWE_SHARED
      depends_on: []
      environment_name: WWE_Shared_Prod
      AzureServiceConnection: ASC-WWE-Prod
      AzureRegion: eastus2
      SubscriptionId: 6f9f1e7d-bfc5-4c84-a02f-93152a27b55d
  ...

fix nuget appservice issue
  iac/wwe-egos/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fix egos pipeline
  iac/wwe-egos/azurerm_nat_gateway.tf
  iac/wwe-egos/network_security_groups.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fix egos pipeline
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fix egos pipeline
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

moving resources to shared folder
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

shared resource pipeline run
  pipelines/pipeline-wwe-shared-infrastructure.yml
Due: none

fix egos pipeline-private endpoint reference
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fix egos pipeline-private endpoint reference
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

shared pipeline
  pipelines/pipeline-wwe-shared-infrastructure.yml
Due: none

shared pipeline
  pipelines/templates/deployEnv-wwe-shared.yaml
Due: none

Set up CI with Azure Pipelines for shared infra pipeline
  pipelines/pipeline-wwe-shared-infra.yml
Due: none

removing invalid pipeline
  pipelines/pipeline-wwe-shared-infra.yml
  pipelines/pipeline-wwe-shared-infrastructure.yml
Due: none

Set up starter CI with Azure Pipelines for shared infra
  pipelines/pipeline-wwe-shared-infra.yml
Due: none

removing invalid pipeline
  pipelines/pipeline-wwe-shared-infra.yml
Due: none

Set up CI with Azure Pipelines for shared infra
  pipelines/pipeline-wwe-shared-infra.yml
Due: none

Set up CI with Azure Pipelines test 2 for shared infra
  pipelines/azure-pipelines.yml
Due: none

recreating egos resources from vnet
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/azurerm_nat_gateway.tf
  iac/wwe-egos/network_security_groups.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

commenting out unused variables
  iac/wwe-egos/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

commenting out unused variables
  iac/wwe-egos/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

Update pipeline-wwe-shared-infra.yml for Azure Pipelines
  pipelines/pipeline-wwe-shared-infra.yml
Due: none

new vnet IP
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

deploying subnets
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/azurerm_nat_gateway.tf
  iac/wwe-egos/azurerm_windows_web_app.tf
  iac/wwe-egos/network_security_groups.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

Adding private endpoint variable
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

deploying NSGs
  iac/wwe-egos/network_security_groups.tf
  iac/wwe-egos/sql_database.tf
  iac/wwe-egos/storage_accounts.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

deploying NSGs
  iac/wwe-egos/dns.tf
  iac/wwe-egos/private_endpoints.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

resolving sql error
  iac/modules/databases/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

resolving sql error
  iac/modules/databases/main.tf
  iac/wwe-egos/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

resolving sql error/adding webapps
  iac/wwe-egos/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

resolving sql error/adding webapps
  iac/wwe-egos/network_security_groups.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

changing consolidated subnet name to webapps
  iac/modules/app-services/main.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/azurerm_nat_gateway.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

changing vnet IP range
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

commenting out snet for each webapp
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

deploying sql server and database
  iac/modules/databases/main.tf
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/sql_database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

disabling sql public access
  iac/modules/databases/database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

adding cosmos db configuration
  iac/modules/databases/database.tf
  iac/modules/databases/main.tf
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/cosmosdb.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

disabling geo_replication
  iac/modules/databases/_variables.tf
  iac/modules/databases/database.tf
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/cosmosdb.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

setting sku_name
  iac/modules/databases/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

Path conditions:
  pipelines/pipeline-wwe-egos-infrastructure.yml: any of: iac/wwe-egos, iac/modules, but not: iac/wwe-ga, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-ga-infrastructure.yml: any of: iac/wwe-ga, iac/modules, but not: iac/wwe-egos, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-shared-infrastructure.yml: any of: iac/wwe-shared, but not: iac/wwe-ga, iac/wwe-dr, pipelines
