Repository kunalkumar015/P4AG_EGOS: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

pipelines/pipeline-wwe-egos-infrastructure.yml:
  stages:
  - template: ./templates/deployEnv-wwe-egos.yaml
    parameters:
      stage_name: DEV_Deploy_WWE_EGOS
      depends_on: []
      environment_name: WWE_EGOS_DEV
      AzureServiceConnection: sc-ups-dev
      AzureRegion: eastus2
      SubscriptionId: b09bcb9d-e055-4950-a9dd-2ab6002ef86c
  ...

pipelines/pipeline-wwe-ga-infrastructure.yml:
  stages:
  - stage: CleanupLock
    jobs:
    - job: RemoveGitLock
      steps:
      - task: CmdLine@2
        displayName: Remove stale Git Config lock
        inputs:
          script: 'echo Removing stale .gitconfig.lock if it exists
  
            del C:\Windows\ServiceProfiles\NetworkService\.gitconfig.lock 2>nul
  ...

pipelines/pipeline-wwe-shared-infra.yml:
  stages:
  - template: ./templates/deployEnv-wwe-shared.yaml
    parameters:
      stage_name: DEV_Deploy_WWE_SHARED
      depends_on: []
      environment_name: WWE_SHARED_DEV
      AzureServiceConnection: sc-ups-dev
      AzureRegion: eastus2
      SubscriptionId: b09bcb9d-e055-4950-a9dd-2ab6002ef86c
  ...

pipelines/pipeline-wwe-shared-infrastructure.yml:
  stages:
  - template: ./templates/deployEnv-wwe-shared.yaml
    parameters:
      stage_name: DEV_Deploy_WWE_SHARED
      depends_on: []
      environment_name: WWE_SHARED_DEV
      AzureServiceConnection: sc-ups-dev
      AzureRegion: eastus2
      SubscriptionId: b09bcb9d-e055-4950-a9dd-2ab6002ef86c
  ...

change sku tier
  iac/modules/databases/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

change sku tier
  iac/modules/databases/database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

test sql password
  iac/modules/databases/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

test sql password
  iac/modules/databases/database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

separated cosmosdb & sql modules and added AFD/AGW/TM modules
  iac/modules/afd/afd.tf
  iac/modules/afd/main.tf
  iac/modules/afd/variables.tf
  iac/modules/agw/agw.tf
  iac/modules/agw/main.tf
  iac/modules/agw/variables.tf
  iac/modules/cosmosdb/_variables.tf
  iac/modules/cosmosdb/database.tf
  iac/modules/cosmosdb/main.tf
  iac/modules/databases/database.tf
  iac/modules/sql/_variables.tf
  iac/modules/sql/database.tf
  iac/modules/sql/main.tf
  iac/modules/tm/main.tf
  iac/modules/tm/tm.tf
  iac/modules/tm/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/afd.tf
  iac/wwe-egos/agw.tf
  iac/wwe-egos/cosmosdb.tf
  iac/wwe-egos/dns.tf
  iac/wwe-egos/sql_database.tf
  iac/wwe-egos/tm.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

editting cosmosdb name
  iac/modules/cosmosdb/database.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

correcting subnet reference for private endpoint
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

afd deployment
  iac/modules/afd/afd.tf
  iac/modules/afd/endpoint.tf
  iac/modules/afd/main.tf
  iac/modules/afd/origin.tf
  iac/modules/afd/origin_group.tf
  iac/modules/afd/profile.tf
  iac/modules/afd/route.tf
  iac/modules/afd/secrets.tf
  iac/modules/afd/security_policies.tf
  iac/modules/afd/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

adding afd secrets/certificates
  iac/modules/afd/secrets.tf
  iac/modules/afd/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

adding afd secrets/certificates
  iac/modules/afd/variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

updating variables
  iac/wwe-egos/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

agw deployment
  iac/modules/afd/secrets.tf
  iac/modules/afd/security_policies.tf
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

removing duplicate variables
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

variable update
  iac/wwe-egos/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

add cert access credentials for agw
  iac/modules/agw/agw.tf
  iac/modules/agw/main.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

removing duplicate variable
  iac/modules/agw/variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

removing duplicate variable
  iac/modules/agw/main.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

fix access to kv secrets
  iac/modules/afd/secrets.tf
  iac/modules/agw/main.tf
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

add kv rg name to tfvars
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

new cert for afd
  iac/modules/afd/endpoint.tf
  iac/modules/afd/origin.tf
  iac/modules/afd/origin_group.tf
  iac/modules/afd/profile.tf
  iac/modules/afd/route.tf
  iac/modules/afd/secrets.tf
  iac/modules/afd/security_policies.tf
  iac/modules/agw/agw.tf
  iac/modules/app-services/_variables.tf
  iac/modules/app-services/app-service.tf
  iac/modules/app-services/main.tf
  iac/modules/app-services/network.tf
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

new cert for afd
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

new custom domain for afd
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

referencing cert
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

creating waf policy for agw
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/afd.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

remove firewall policy id variable
  iac/wwe-egos/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

agw tenant-level authorization issue fix
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

agw subnet id reference
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

agw public ip reference
  iac/wwe-egos/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

agw public ip creation
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

agw public ip creation
  iac/modules/agw/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

agw snet creation
  iac/modules/agw/variables.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

agw ip address prefix creation
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

re adjust pe subnet ip ranges to accomodate agw subnet
  iac/modules/agw/agw.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

re adjust ga pe subnet ip ranges to accomodate agw subnet
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

adding missing webapps
  iac/wwe-egos/azurerm_windows_web_app.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

changing allocation method for agw pip
  iac/modules/agw/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

correcting snet-agw name
  iac/modules/agw/agw.tf
  iac/modules/agw/variables.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

correcting snet-agw name
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

Path conditions:
  pipelines/pipeline-wwe-egos-infrastructure.yml: any of: iac/wwe-egos, iac/modules, but not: iac/wwe-ga, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-ga-infrastructure.yml: any of: iac/wwe-ga, iac/modules, but not: iac/wwe-egos, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-shared-infra.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr
  pipelines/pipeline-wwe-shared-infrastructure.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr
