Repository kunalkumar015/P4AG_EGOS: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

Path conditions:
  pipelines/pipeline-wwe-egos-infrastructure.yml: any of: iac/wwe-egos, iac/modules, but not: iac/wwe-ga, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-ga-infrastructure.yml: any of: iac/wwe-ga, iac/modules, but not: iac/wwe-egos, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-shared-infra.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr
  pipelines/pipeline-wwe-shared-infrastructure.yml: any of: iac/wwe-shared, iac/modules, pipelines/pipeline-wwe-shared-infrastructure.yml, pipelines/templates/deplyEnv-wwe-shared.yaml, but not: iac/wwe-ga, iac/wwe-egos, iac/wwe-dr

agw seperation
  iac/modules/agw/agw.tf
  iac/modules/agw/main.tf
  iac/modules/agw/variables.tf
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/agw.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

afd.tf
  iac/modules/afd/secrets.tf
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

adding backend_fqdn for agw dashboard and webservices
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

fixing agw error
  iac/wwe-ga/agw.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

firewall deployment
  iac/wwe-ga/waf.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

reduce agw pip zones
  iac/wwe-ga/agw.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

remove duplicate waf rules
  iac/wwe-ga/waf.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

afd deployment
  iac/modules/afd/origin.tf
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infra.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

delete cosmos db old(3.6)
  iac/wwe-egos/cosmosdb.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

adding uat vnet
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

adding uat vnets
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

adding pep to all app services
  iac/wwe-egos/private_endpoints.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

AFD missing backend pool, route and firewall
  iac/wwe-egos/afd.tf
  iac/wwe-egos/private_endpoints.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

AFD missing backend pool, route and firewall
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

AFD correcting values
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

uat deployment
  iac/wwe-egos/afd.tf
  iac/wwe-egos/uat_virtual_network.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

adding more ip range for PE
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

adding more ip range for PE
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/private_endpoints.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

splitting up egos/ga subnets PE
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/private_endpoints.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

splitting up egos/ga subnets PE
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

ga pe subnet and resource
  iac/wwe-ga/private_endpoints.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

uat vnet
  iac/wwe-egos/_provider.tf
  iac/wwe-egos/uat_virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

ga pe subnet and resource
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

fixing errors
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/private_endpoints.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

add ip for ga vnet
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

ga vnet extention
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

ga vnet extention
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

adding ga pe to new subnet
  iac/wwe-ga/private_endpoints.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

deploying nat gateway
  iac/wwe-egos/uat_azurerm_nat_gateway.tf
  iac/wwe-egos/uat_nsg.tf
  iac/wwe-egos/uat_virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

deploying afd
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fixing pipeline
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

deploying afd profile
  iac/wwe-egos/afd.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

fixing uat subnet and nat association
  iac/wwe-egos/uat_azurerm_nat_gateway.tf
  iac/wwe-egos/uat_virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml
