Repository kunalkumar015/P4AG_EGOS: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

Path conditions:
  pipelines/pipeline-wwe-egos-infrastructure.yml: any of: iac/wwe-egos, iac/modules, but not: iac/wwe-ga, iac/wwe-dr, iac/wwe-shared, pipelines
  pipelines/pipeline-wwe-ga-infrastructure.yml: any of: iac/wwe-ga, iac/modules, but not: iac/wwe-egos, iac/dr_network, iac/shared_network_dr, pipelines
  pipelines/pipeline-wwe-shared-infrastructure.yml: any of: iac/wwe-shared, but not: iac/wwe-ga, iac/wwe-dr, pipelines

add egos nsg
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/network_security_groups.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

create signalr
  iac/modules/signalr/_variables.tf
  iac/modules/signalr/main.tf
  iac/wwe-egos/signalr_service.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

add kv
  iac/modules/databases/database.tf
  iac/modules/keyvault/_variables.tf
  iac/modules/keyvault/kv.tf
  iac/modules/keyvault/main.tf
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_prod-centralus.tfvars
  iac/wwe-egos/_uat-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/sql_database.tf
  iac/wwe-shared/_provider.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml, pipelines/pipeline-wwe-shared-infrastructure.yml

add kv
  iac/wwe-egos/keyvault.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml

bugfix
  iac/modules/keyvault/_variables.tf
  iac/modules/keyvault/kv.tf
  iac/wwe-egos/keyvault.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

bugfix
  iac/modules/keyvault/kv.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

fixing tf
  iac/modules/databases/database.tf
  iac/modules/databases/main.tf
  iac/modules/keyvault/kv.tf
  iac/wwe-dr/1
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_prod-centralus.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/redis_cache.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/redis_cache.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

add nat gw for ga
  iac/wwe-ga/azurerm_nat_gateway.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

disable uat for ga and no mi for ga
  iac/wwe-ga/mi_user.tf
  pipelines/pipeline-wwe-ga-infrastructure.yml
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

test webapp creation for GA
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

test webapp creation for GA 2.0 tfvars
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

test subnet creation (snet-dashboard)
  iac/wwe-ga/azurerm_windows_web_app.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

test webapp creation for GA
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

subnet deployment
  iac/wwe-ga/azurerm_windows_web_app.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

web_app deployment for webservices & globalcheckout
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

all subnets deployment
  iac/wwe-ga/azurerm_windows_web_app.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

all web_app deployments for GA
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

managed identity deployment for GA
  iac/wwe-ga/mi_user.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

pipeline fix
  iac/wwe-ga/mi_user.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

new ip and consolidated subnet
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

new ip and consolidated subnet
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

new ip and consolidated subnet 2.0
  iac/modules/app-services/_variables.tf
  iac/modules/app-services/network.tf
  iac/wwe-egos/_variables.tf
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

new ip and consolidated subnet 3.0
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

ip address change
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

App service
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

edit modules
  iac/modules/app-services/_variables.tf
  iac/modules/app-services/network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

Fix missing variables and undeclared subnet references
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

removing large Licence.txt file
  .gitignore
  iac/modules/app-services/app-service.tf
  iac/wwe-egos/azurerm_windows_web_app.tf
  iac/wwe-ga/.terraform.lock.hcl
  iac/wwe-ga/.terraform/modules/modules.json
  iac/wwe-ga/.terraform/terraform.tfstate
  iac/wwe-ga/_variables.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

Reference to undeclared resource
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

cleanup stage
  pipelines/pipeline-wwe-ga-infrastructure.yml
Due: none

fix
  pipelines/pipeline-wwe-ga-infrastructure.yml
Due: none

refferencing app service
  iac/modules/app-services/app-service.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

reference consolidated subnet
  iac/modules/app-services/main.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

adding snet dependency to app service
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_prod-centralus.tfvars
  iac/wwe-ga/_prod-eastus2.tfvars
  iac/wwe-ga/_provider.tf
  iac/wwe-ga/_uat-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/azurerm_windows_web_app.tf
  iac/wwe-ga/main.tf
  iac/wwe-ga/redis_cache.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

fix vnet CIDR block
  iac/wwe-ga/_dev-eastus2.tfvars
Due: pipelines/pipeline-wwe-ga-infrastructure.yml

subnet delegation
  iac/modules/app-services/app-service.tf
  iac/wwe-ga/virtual_network.tf
  pipelines/pipeline-wwe-shared-infrastructure.yml
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

removing wwe-ga sbnet and moving the nat-gw assocition from modules
  iac/modules/app-services/network.tf
  iac/wwe-ga/.gitignore
  iac/wwe-ga/.terraform/modules/modules.json
  iac/wwe-ga/.terraform/terraform.tfstate
  iac/wwe-ga/_dev-eastus2.tfvars
  iac/wwe-ga/_variables.tf
  iac/wwe-ga/azurerm_nat_gateway.tf
  iac/wwe-ga/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml, pipelines/pipeline-wwe-ga-infrastructure.yml

egos pipeline fix
  iac/wwe-egos/_dev-eastus2.tfvars
  iac/wwe-egos/_variables.tf
  iac/wwe-egos/azurerm_nat_gateway.tf
  iac/wwe-egos/azurerm_windows_web_app.tf
  iac/wwe-egos/virtual_network.tf
Due: pipelines/pipeline-wwe-egos-infrastructure.yml
